@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Spline+Sans+Mono:wght@300;600&display=swap');

*{
   font-family: "Spline Sans Mono", sans-serif; 
   padding:0%;
   margin:0%;
   box-sizing: border-box;
   overflow-x: hidden;
}
html{
   font-size: 62.5%; 
}

h1{
    color: #131e30;
    font-size: 4rem;
}
h2{
    color: #00baec;
    font-size: 3rem;
}
h1{
    color: #ff9504;
    font-size: 2.7rem;
}

h1,
h2,
h3{
	font-family: 'Rubik Mono One',monospace;
}

.botonera{
        background-color:rgba(31, 38, 55, 1);
        position: sticky;
        top:0;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: menu;
    }

    .botonera ul{
        display: flex;
    }
    
    .botonera ul li {
        list-style: none;
        display: inline-block;
        margin: 0 5px;
    }
        .botonera ul li a{
            font-size: 2.2rem;
            text-decoration: none;
            color:aliceblue;
            font-family: 'Rubik Mono One', sans-serif;
            display: inline;
        }

header img{
    width:100%;
    height: 30%;
    grid-area:"header"; /*añadimos gid area a nuestra imagen heroe*/

}
.video{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    text-align: center;
}

body{
    background-image: url(../img/patron.jpg);
    overflow: auto;
    display: grid;/*anadimos display grid a nuestro proyecto*/
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 30vh 50vh 10vh;
    grid-template-areas: 
    "menu"
    "header"
    "index"
    "pie";

}

@media only screen and (min-width:768px){ /*media query para tablet*/
    body{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10vh 60vh 30vh;
        grid-template-areas:
        "menu menu menu"
        "header index index"
        "pie pie pie"

    }
}
@media only screen and (min-width:1024px) { /*media query para desktop*/
    body{
        grid-column-gap: 50px;
    }

}
    

p{
    font-family: 'Spline Sans Mono', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
	color: #2E2D2D;
    font-weight: 400;
}

footer{
    display:flex;
    justify-content:end;
    align-items: center;
    grid-area: "pie";

}
.text-grey{
    color:rgb(35, 34, 34)
}

.text-center{
    text-align: center;
}

.text-right{
    text-align:right;
}

.text-left{
    text-align: left;
}

.text-light{
    font-weight: 300;
}

.text-bold{
    font-weight: 600;
}

.tect-regular{
    font-weight:400;

}
.bgYellow{
    background-color: #ebb76e;
}
.home__articulo{
    width: 80%;
    height: auto;
    margin: 50px auto;
    padding: 20px 50px;
    border:solid cyan 5px;
}
#novedades h1,#novedades h2{
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(rgb(196, 115, 115), rgb(79, 124, 79), rgb(13, 13, 48), alpha.8);
    font-family: monospace;
    margin: 20px 0;
}

#nosotros{

}
#contactos{

}
#index{
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(rgb(196, 115, 115), rgb(79, 124, 79), rgb(13, 13, 48), alpha.8);
    font-family: monospace;
    margin: 20px 0;
    grid-area: "index";
}
#productos h1,
#productos h2{
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(rgb(196, 115, 115), rgb(79, 124, 79), rgb(13, 13, 48), alpha.8);
    font-family: monospace;
    margin: 20px 0;
}

#productos .galeria{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
    #productos .galeria figure{
        text-align: center;
    }

        #productos .galeria figure img{
            border-top-left-radius: 5px;
			border-top-right-radius: 5px;

        }
/*class index*/
.index{
    font-family: 'Times New Roman', Times, serif;
}
.tituloPrincipal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/*class index*/