<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia de Marketing Digital</title>
    <link rel="shortcut icon" href="../img/dentro de la venta_favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <a href="../index.html">
            <img src="../img/logo.png" alt="logo de dentro de la venta">
        </a>
        <ul>
            <li><a href="../views/productos.html">Productos</a></li>
            <li><a href="../views/novedades.html">Novedades</a></li>
            <li><a href="nosotros.html">Nosotros</a></li>
            <li><a href="../views/contactos.html">Contactos</a></li>
        </ul>
    </nav>
    <header>
        <img src = "../img/header.png" alt="imagen heroe de la agencia">
        <h1>Nosotros</h1>
    </header> 
    <main id="nosotros">
        <section></section>
        <h1>Primer titulo de nosotros</h1>
        <br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam doloremque quaerat qui debitis saepe vero non modi? Voluptatem vitae quaerat sunt ipsum rem, minus dolorum architecto deserunt perferendis, ut atque!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis excepturi nulla, architecto magnam, laboriosam velit soluta repellat exercitationem, libero cupiditate minus error tempora quia similique sit itaque eos! Vitae, cumque!</p>
        <br>
        <figure>
            <img src="../img/nosotros/1_adobe_express.png" alt="ceo nicolas matias perez">
            <figcaption>Nicolás Matías Pérez</figcaption>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam corrupti </p>
        </figure>
        <figure>
            <img src="../img/nosotros/3_adobe_express.png" alt="ceo nicolas matias perez">
            <figcaption>Otra Persona</figcaption>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam corrupti </p>
        </figure>
        <figure>
            <img src="../img/nosotros/1_adobe_express.png" alt="ceo nicolas matias perez">
            <figcaption>Nicolás Matías Pérez</figcaption>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam corrupti </p>
        </figure>
        <section></section>

    </main>
    <footer>
        <a href="https://www.facebook.com">
            <img src="../img/facebook.png" alt="">
        </a>
        <a href="https://www.instagram.com">
            <img src="../img/instagram.png" alt="">
        </a>
    </footer>  
</body>

</html>