<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia de Marketing Digital</title>
    <link rel="shortcut icon" href="../img/dentro de la venta_favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <a href="../index.html">
            <img src="../img/logo.png" alt="logo de dentro de la venta">
        </a>
        <ul>
            <li><a href="../views/productos.html">Productos</a></li>
            <li><a href="novedades.html">Novedades</a></li>
            <li><a href="../views/nosotros.html">Nosotros</a></li>
            <li><a href="../views/contactos.html">Contactos</a></li>
        </ul>
    </nav>
    <header>
        <img src = "../img/header.png" alt="imagen heroe de la agencia">
        <h1>Nuestros clientes</h1>
    </header>  
    <main id="novedades">
        <section>
            <img src="../img/clientes/meli.png">
            <h1>Campañas de google ads para Mercado Libre</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam fugit suscipit fugiat corrupti! Itaque dolores necessitatibus, repellendus possimus, quas aut totam amet repellat doloremque porro quae architecto nemo corrupti nihil!</p>
            <br>
            <img src="../img/clientes/mockup.png">
            <h1>Creacion de tienda online</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam fugit suscipit fugiat corrupti! Itaque dolores necessitatibus, repellendus possimus, quas aut totam amet repellat doloremque porro quae architecto nemo corrupti nihil!</p>

        </section>
        <section></section>

    </main>
    <footer>
        <a href="https://www.facebook.com">
            <img src="../img/facebook.png" alt="">
        </a>
        <a href="https://www.instagram.com">
            <img src="../img/instagram.png" alt="">
        </a>
    </footer> 
</body>
</html>