<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agencia de Marketing Digital</title>
    <link rel="shortcut icon" href="../img/dentro de la venta_favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <a href="../index.html">
            <img src="../img/logo.png" alt="logo de dentro de la venta">
        </a>
        <ul>
            <li><a href="productos.html">Productos</a></li>
            <li><a href="../views/novedades.html">Novedades</a></li>
            <li><a href="../views/nosotros.html">Nosotros</a></li>
            <li><a href="../views/contactos.html">Contactos</a></li>
        </ul>
    </nav>
    <header>
        <img src = "../img/header.png" alt="imagen heroe de la agencia">
        <h1>Nuestros Productos</h1>
    </header>
    <main id="productos">
        <h1>Nuestros servicios de Marketing Digital</h1>
        <section class="galeria">
            <figure>
                <img src="../img/productos/586efabc87dadaa6bf8d2a3f.png">
                <figcaption>Producto de google 1 </figcaption>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
            </figure>
            <figure>
                <img src="../img/productos/586efabc87dadaa6bf8d2a3f.png">
                <figcaption>Producto de google 2 </figcaption>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
            </figure>
            <figure>
                <img src="../img/productos/586efabc87dadaa6bf8d2a3f.png">
                <figcaption>Producto de google 3</figcaption>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
            </figure>
            <figure>
                <img src="../img/productos/586efabc87dadaa6bf8d2a3f.png">
                <figcaption>Producto de google 4 </figcaption>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
            </figure>
            <figure>
                <img src="../img/productos/586efabc87dadaa6bf8d2a3f.png">
                <figcaption>Producto de google 5 </figcaption>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
            </figure>
            <figure>
                <img src="../img/productos/586efabc87dadaa6bf8d2a3f.png">
                <figcaption>Producto de google 6</figcaption>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
            </figure>
        
        </section>
        <section></section>

    </main>
    <footer>
        <a href="https://www.facebook.com">
            <img src="../img/facebook.png" alt="">
        </a>
        <a href="https://www.instagram.com">
            <img src="../img/instagram.png" alt="">
        </a>
    </footer>
        
</body>
</html>